<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdCard</title>
    <link rel="stylesheet" href="css/lastPage.css">
    {{!--
    <script defer src="fourth.js"></script> --}}
</head>

<body>
    <div class="main" id="formContainer">

        <form name="myForm" onsubmit="return validation()" action="/lastPage" method="post">

            <h1 id="heading" class="auto-type">ID-SLIP</h1>
            <P class="ac_year"> Academic Year:
                <input type="text" name="academic" id="accYear" autofocus="none">
            </P>
            <div class="instruction">
                <p>Name Of Student (Fill in CAPITAL LETTERS only)<sup>*</sup></p>
            </div>

            <!-- full name section -->
            <!-- full name section -->
            <div class="name-setion">
                <div class="name ">
                    <p id="firstName">First Name</p>
                    <input type="text" name="fname" id="fname" placeholder="FIRSTNAME" required>
                    <i class="name-error error" id="error" ></i>
                </div>
                <div class="fatherName">
                    <p id="fatherName">Middle Name</p>
                    <input type="text" name="mname" id="mname" placeholder="MIDDLENAME" required>
                    <i class="middleName-error error"></i>
                </div>
                <div class="surName">
                    <p id="surName"> Surname</p>
                    <input type="text" name="sname" id="sname" placeholder="SURNAME" required>
                    <i class="lastName-error error"></i>
                </div>
            </div>


            <!-- Date of birth, gender and blood group section -->
            <div class="DOB-BLOODG" >
                <div class="DOB">
                    <p id="DOB"> Date Of Birth</p>
                    <input type="date" name="" id="date" required>
                </div>
                <div class="gender">
                    <p id="gender"> Gender</p>
                    <select name="Gender" id="Gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="bloodGroup">
                    <p id="bloodGroup">Blood Group</p>
                    <select name="BloodGroup" id="BloodGroup" required>
                        <option value="">Blood Group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
            </div>

            <!-- <hr style="height: 1px; Background-color:black; margin-top:20px;"> -->
            <!-- checkboxes and multiple options to be select sections -->

            <div class="checkboxes">
                <!-- <div class="course"> -->
                <fieldset class="course">
                    <legend>Courses</legend>
                    <!-- <p id="course">Course</p> -->
                    <div class="course-item">
                        <div>
                            <label for="btech">B.TECH</label>
                            <input type="checkbox" value="B.TECH" name="course" id="btech">
                        </div>
                        <div>
                            <label for="mtech">M.TECH</label>
                            <input type="checkbox" value="M-TECH" name="course" id="mtech">
                        </div>
                        <div>
                            <label for="mba">M.B.A</label>
                            <input type="checkbox" value="M.B.A" name="course" id="mba">
                        </div>
                    </div>
                </fieldset>
                <!-- </div> -->

                <!-- class .............................. -->
                <!-- <div class="class"> -->
                <fieldset class="class">
                    <legend>Class</legend>

                    <!-- <p id="class">Class</p> -->
                    <div class="class-item">
                        <div>
                            <label for="fe">First Year</label>
                            <input type="checkbox" value="First Year" name="classes" id="fe">
                        </div>
                        <div>
                            <label for="se">Second Year</label>
                            <input type="checkbox" value="Second Year" name="classes" id="se">
                        </div>
                        <div>
                            <label for="te">Third Year</label>
                            <input type="checkbox" value="Third Year" name="classes" id="te">
                        </div>
                        <div>
                            <div>
                                <label for="be">Final Year</label>
                                <input type="checkbox" value="Final Year" name="classes" id="be">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- </div> -->

                <!-- <div class="branches"> -->
                <fieldset class="branches">
                    <legend>Branch</legend>
                    <!-- <p id="branches">Branch</p> -->
                    <div class="branch-item">
                        <div>
                            <label for="civil">CIVIL</label><input type="checkbox" value="CIVIL" name="branches"
                                id="civil">
                        </div>
                        <div>
                            <label for="ee">EE</label><input type="checkbox" value="EE" name="branches" id="ee">
                        </div>
                        <div>
                            <label for="cse">CSE</label><input type="checkbox" value="CSE" name="branches" id="cse">
                        </div>
                        <div>
                            <label for="ece">ECE</label><input type="checkbox" value="ECE" name="branches" id="ece">
                        </div>
                        <div>
                            <label for="ds">DS</label><input type="checkbox" value="DS" name="branches" id="ds">
                        </div>
                        <div>
                            <label for="aiml">AIML</label><input type="checkbox" value="AIML" name="branches" id="aiml">
                        </div>
                        <div>
                            <label for="mech">MECH</label><input type="checkbox" value="MECH" name="branches" id="mech">
                        </div>
                        <div>
                            <label for="vlsi">VLSI</label><input type="checkbox" value="VLSI" name="branches" id="vlsi">
                        </div>
                        <div>
                            <label for="5g">5G</label><input type="checkbox" value="5G" name="branches" id="5g">
                        </div>
                        <div>
                            <label for="other">Other</label><input type="text" value="" name="otherBranches" id="other">
                        </div>
                    </div>
                </fieldset>
                <!-- </div> -->
            </div>

            <!-- Contact and address section ......................... -->
            <div class="contact-section">
                <div class="contact same">
                    <p>Student Contact Number</p>
                    <input type="tel" name="stdContact" id="std_contact" placeholder="Student Contact Number" required>
                    <!-- <i class="stdContact-error">this is error</i> -->
                </div>
                <div class="parentCon same">
                    <p>Parents Contact Number:</p>
                    <input type="text" name="pContact" id="p_contact" placeholder="Parents Contact Number" required>
                    <!-- <i class="parent-error">this is error</i> -->
                </div>
                <div class="address same">
                    <p>Address</p><span>
                        <textarea name="stdAddress" id="std_address" cols="70" rows="7"
                            placeholder="Address..." required></textarea>
                        <!-- <i class="address-error">this is error</i></span> -->
                </div>
            </div>
            <input type="button" id="preview-Btn" value=" Preview This Page">

            <div class="button">
               
                <input type="submit" value="Submit" id="submit">
                <input type="reset" value="Reset" id="reset">
            </div>

 <div class="backbutton">
                    <div class="prev">
                        <button>
                            <a href="/thirdPage">
                                Back Page
                            </a>
                        </button>
                    </div>
                </div>

        </form>
        {{!-- <button id="preview-Btn">
            Preview This Page
        </button> --}}
    </div>

    <div class="preview" id="preview_from">
        <h1 id="heading" class="auto-type">ID-SLIP</h1>
        <div class="instruction">
            <p>Name Of Student :- </p>
        </div>
        <!-- full name section -->
        <div class="name-setion2">
            <div class="name">
                <p id="firstName">First Name</p>
                <input type="text" name="" id="FNAME" readonly>
                {{!-- <i class="name-error error" id="error"></i> --}}
            </div>
            <div class="fatherName2">
                <p id="fatherName">Middle Name</p>
                <input type="text" name="" id="MNAME" readonly>
                {{!-- <i class="middleName-error error"></i> --}}
            </div>
            <div class="SurName">
                <p id="surName">Surname</p>
                <input type="text" name="" id="SNAME" readonly>
                {{!-- <i class="lastName-error error"></i> --}}
            </div>
        </div>


        <!-- Date of birth, gender and blood group section -->
        <div class="DOB-BLOODG">
            <div class="DOB2">
                <p id="DOB"> Date Of Birth</p>
                <input type="date" name="" id="DATE" readonly>
            </div>
            <div class="gender2">
                <p id="gender"> Gender</p>
                <input type="text" id="GENDER" readonly>
            </div>
            <div class="bloodGroup2">
                <p id="bloodGroup">Blood Group</p>
                <input type="text" id="B-GROUP" readonly>
            </div>
        </div>
        <hr class="midline">

        <!-- <hr style="height: 1px; Background-color:black; margin-top:20px;"> -->
        <!-- checkboxes and multiple options to be select sections -->

        <div class="checkboxes">
            <div class="course2">
                <p id="course">Course</p>
                <input type="text" id="course-name" readonly>
            </div>

            <!-- class .............................. -->
            <div class="class2">
                <p id="class">Class</p>
                <input type="text" id="class-name" readonly>
            </div>

            {{!-- brnch .....................................................--}}
            <div class="branch2">

                <p id="branches">Branch</p>

                <input type="text" id="branch-name" readonly>

            </div>
        </div>
        <hr class="midline2">

        <!-- Contact and address section ......................... -->
        <div class="contact-section2">
            <div class="contact">
                <p>Student Contact Number</p>
                <input type="tel" name="" id="SCONTACT" readonly>
                <!-- <i class="stdContact-error">this is error</i> -->
            </div>
            <div class="parentCon same">
                <p>Parents Contact Number:</p>
                <input type="text" name="" id="PCONTACT" readonly>
                <!-- <i class="parent-error">this is error</i> -->
            </div>
            <div class="address same">
                <p>Address</p><span>
                    <textarea name="" id="ADDRESS" cols="80" rows="7" placeholder="Address..." readonly></textarea>
                    <!-- <i class="address-error">this is error</i></span> -->
            </div>
        </div>
        <h2 id="cancelpoppup" onclick="cancelPreview()">&#10005</h2>
    </div>

    <script src="javaScript/fourth.js"></script>

    {{!--
    <script src="/js/alert.js"></script> --}}
</body>

</html>