<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Undertaking</title>
    <link rel="stylesheet" href="/css/studentUndertaking.css">

</head>

<body>

    {{!-- <div id="popup">
        <img src="/images/greencheck.jpg" alt="">
        <b>Form has been Submitted</b>
        <p id="cancelpoppup" onclick="cancelPopup()">&#10005</p>
    </div> --}}
    
    <form action="/studentUndertaking" method="post" class="formContainer" enctype="multipart/form-data">
        <fieldset>
            <legend>
                Date
            </legend>
            <input type="date" id="date" name="tarikh" required>

        </fieldset>
        <div class="all">

            <div class="headline">
                <h3>UNDERTAKING FOR COLLEGE DISCIPLINE</h3>
            </div>
            <div class="content1">
                <ol>
                    <li>I will always follow all rules & regulaton made by collage & institute.</li>
                    <li> I will regularly & sincerely attending all theory classes with practical's from the first day
                        of nextsemester.
                    </li>
                    <li> I will always following all norms decided by college authority regarding Uniform, I-card,
                        hygiene,safety & sporty environment.
                    </li>
                    <li> I will be highly disciplined in all respects. I will not indulge any misbehavior act such as
                        commenting,
                        mocking,shouting,running teasing etc. i will intantaly obey discipline related instruction by
                        any
                        staff.
                    </li>
                    <li>I am timely & regularly completing all home work, assignment, practical, seminar, project & any
                        given
                        task
                        stipulated time and with involvements.
                    </li>
                    <li> I am ready to understand, punishment given by college/department for indiscipline, misbehavior
                        or
                        any
                        other
                        defoult.
                    </li>
                    <li>I will always maintaining discipline in during Event, Cultural program, Sports, Gathering,
                        Guest/Expert
                        lectures, Industrial visit etc.
                    </li>
                    <li>I am aware that any rule imposed by the University such as "imposing limits on the numbers of
                        attempts
                        permissible to pass any examination" shall be binding on me.
                    </li>
                    <li>I hereby agree to conform to any Rules, Acts & Laws enforced by Government & I here by undertake
                        that I
                        will
                        do nothing either inside or outside the college which may result in disciplinary action against
                        me
                        under
                        these rules, acts & laws referred to.
                    </li>
                    <li>I fully understand that the principal of the college has the right to expel me from the college
                        for
                        any
                        infringement of the rules of conduct & discipline prescribed by the college or University or
                        Government
                        &
                        the undertaking given above.
                    </li>
                    <li>Condition of minimum attendance: I am fully aware; I will not be allowed to appear for the
                        examination
                        if I do not attend minimum 90 percent classes of theory, practical etc. I am also aware that I
                        will
                        not
                        be
                        allowed for the examination, drawing, workshop etc. I am also aware that I will not be allowed
                        for
                        the
                        examination, if I fail to submit satisfactorily all the assignment, jobs, journals, drawing &
                        reports as
                        may
                        be specified by the University within stipulated time limit.
                    </li>
                </ol>
            </div>

            <div class="headline">
                <h3>ANNEXURE II <br> AFFIDAVIT BY PARENT/GUARDIAN</h3>
            </div>
            <div class="content2">
                <div class="name">

                    I,<input type="text" id="parent-name" name="fathername" required>
                    Mr./Mrs./Ms(full name of parent/guardian )
                    Father/Mother/guardian of

                    <input type="text" id="stu-name" name="stdname" required>
                    (full name of
                    student with admission / registration / enrolment number),
                </div>
                <ol>
                    <li>having been admitted to<input type="text" id="institute-name" name="institutename" required> (name of the
                        institution), have
                        received a copy of
                        the
                        AICTE regulations on Curbing the menace of Ragging in Higher Education Institutions, 2009,
                        (hereinafter called the "regulations") carefully read and fully understood the provisions
                        contained
                        in the said Regulations.
                    </li>
                    <li> I have, in particular, perused clause 3 of the Regulations & am aware as to what constitutes
                        ragging.
                    </li>
                    <li> I have also, in particular, perused clause 7 & clause 9.1 of the Regulations and am fully aware
                        of
                        the penal & administrative action that is liable to be taken against my ward in case he/she is
                        found
                        guilty or abetting ragging, actively or passively, or being part of a conspiracy to promote
                        ragging.
                    </li>
                    <li>I hereby solemnly aver and undertake that a) My ward will not indulge in any behavior or act
                        that
                        may be constituted as ragging under clause 3 of of the Regulations.b) My ward will not
                        participate
                        in or abet or propagate through any act of commission or omission that
                    </li>
                    <li> I hereby affirm that, if found guilty of ragging, my word is liable for punishment according to
                        clause 9.1 of the Regulations, without prejudice to any other criminal action that may be taken
                        against my ward under any penal law or any law for the time being in force.
                    </li>
                    <li> I hereby declare that my word has not been expelled or debarred from admission in any
                        institution
                        in the country on account of being found guilty of, abetting or being part of a conspiracy to
                        promote, ragging & further affirm that, in case the declaration is found to be untrue, I am
                        aware
                        that my admission my word is liable to be cancelled.
                    </li>
                </ol>

            </div>
            <p>Declared this <input type="text" id="day" required>day of <input type="text" id="month" required>month of <input
                    type="text" id="year">year <input type="text" required></p>

            <div class="sign">
                <p> Signature:
                    <input type="file" name="guardianSign" accept="image" style="border:none;" id="sign" required><br>
                    Name of the Parent/ guardian:<input type="text" id="parent-name2" required>
                </p>

                <p class="secondSign">Signature:
                    <input type="file" name="studentSign" accept="image"style="border:none;" 
                    required><br>
                    Name of the Student:<input type="text" id="stu-name2" required></p>
            </div>

        </div>
        <div class="bottom-btn">
            <div class="prev">
                <button><a href="/">Back</a></button>
                <button type="submit" id="disp" >Submit</button>
                <button><a href="/feesUndertaking">Next</a></button>
            {{!-- </div> <input type="button" id="preview-Btn" value=" Preview This Page"> --}}
        </div>
    </form>

    {{!-- preview section------------------------------ --}}
    {{!-- <div class="preview" id="preview_from">
        <fieldset>
            <legend>
                Date
            </legend>
            <input type="date" id="DATE" readonly>

        </fieldset>
        <div class="all">

            <div class="headline">
                <h3>UNDERTAKING FOR COLLEGE DISCIPLINE</h3>
            </div>
            <div class="content1">
                <ol>
                    <li>I will always follow all rules & regulaton made by collage & institute.</li>
                    <li> I will regularly & sincerely attending all theory classes with practical's from the first day
                        of nextsemester.
                    </li>
                    <li> I will always following all norms decided by college authority regarding Uniform, I-card,
                        hygiene,safety & sporty environment.
                    </li>
                    <li> I will be highly disciplined in all respects. I will not indulge any misbehavior act such as
                        commenting,
                        mocking,shouting,running teasing etc. i will intantaly obey discipline related instruction by
                        any
                        staff.
                    </li>
                    <li>I am timely & regularly completing all home work, assignment, practical, seminar, project & any
                        given
                        task
                        stipulated time and with involvements.
                    </li>
                    <li> I am ready to understand, punishment given by college/department for indiscipline, misbehavior
                        or
                        any
                        other
                        defoult.
                    </li>
                    <li>I will always maintaining discipline in during Event, Cultural program, Sports, Gathering,
                        Guest/Expert
                        lectures, Industrial visit etc.
                    </li>
                    <li>I am aware that any rule imposed by the University such as "imposing limits on the numbers of
                        attempts
                        permissible to pass any examination" shall be binding on me.
                    </li>
                    <li>I hereby agree to conform to any Rules, Acts & Laws enforced by Government & I here by undertake
                        that I
                        will
                        do nothing either inside or outside the college which may result in disciplinary action against
                        me
                        under
                        these rules, acts & laws referred to.
                    </li>
                    <li>I fully understand that the principal of the college has the right to expel me from the college
                        for
                        any
                        infringement of the rules of conduct & discipline prescribed by the college or University or
                        Government
                        &
                        the undertaking given above.
                    </li>
                    <li>Condition of minimum attendance: I am fully aware; I will not be allowed to appear for the
                        examination
                        if I do not attend minimum 90 percent classes of theory, practical etc. I am also aware that I
                        will
                        not
                        be
                        allowed for the examination, drawing, workshop etc. I am also aware that I will not be allowed
                        for
                        the
                        examination, if I fail to submit satisfactorily all the assignment, jobs, journals, drawing &
                        reports as
                        may
                        be specified by the University within stipulated time limit.
                    </li>
                </ol>
            </div>

            <div class="headline">
                <h3>ANNEXURE II <br> AFFIDAVIT BY PARENT/GUARDIAN</h3>
            </div>

            <div class="content2">
                <div class="name">
                    I,<input type="text" id="PARENT-NAME" readonly> Mr./Mrs./Ms(full name of parent/guardian )
                    Father/Mother/guardian of <input type="text" id="STU-NAME" readonly>(full name of
                    student with admission / registration / enrolment number),
                </div>
                <ol>
                    <li>having been admitted to<input type="text" id="INSTITUTE-NAME" readonly> (name of the
                        institution), have received a copy of
                        the
                        AICTE regulations on Curbing the menace of Ragging in Higher Education Institutions, 2009,
                        (hereinafter called the "regulations") carefully read and fully understood the provisions
                        contained
                        in the said Regulations.
                    </li>
                    <li> I have, in particular, perused clause 3 of the Regulations & am aware as to what constitutes
                        ragging.
                    </li>
                    <li> I have also, in particular, perused clause 7 & clause 9.1 of the Regulations and am fully aware
                        of
                        the penal & administrative action that is liable to be taken against my ward in case he/she is
                        found
                        guilty or abetting ragging, actively or passively, or being part of a conspiracy to promote
                        ragging.
                    </li>
                    <li>I hereby solemnly aver and undertake that a) My ward will not indulge in any behavior or act
                        that
                        may be constituted as ragging under clause 3 of of the Regulations.b) My ward will not
                        participate
                        in or abet or propagate through any act of commission or omission that
                    </li>
                    <li> I hereby affirm that, if found guilty of ragging, my word is liable for punishment according to
                        clause 9.1 of the Regulations, without prejudice to any other criminal action that may be taken
                        against my ward under any penal law or any law for the time being in force.
                    </li>
                    <li> I hereby declare that my word has not been expelled or debarred from admission in any
                        institution
                        in the country on account of being found guilty of, abetting or being part of a conspiracy to
                        promote, ragging & further affirm that, in case the declaration is found to be untrue, I am
                        aware
                        that my admission my word is liable to be cancelled.
                    </li>
                </ol>

            </div>
            <p>Declared this <input type="text" id="DAY" readonly>day of <input type="text" id="MONTH" readonly>month of
                <input type="text" id="YEAR" readonly>year <input type="text">
            </p>

            <div class="sign">
                <p> Signature:
                    <input type="file" style="border:none;" id="SIGN">
                    <br>Name of the Parent/ guardian: <input type="text" id="PARENT-NAME2" readonly>
                </p>

                <p> Signature: <input type="file" style="border:none;"><br>Name of the Student: <input type="text"
                        id="STU-NAME2" readonly></p>
            </div><br>
            <h2 id="cancelpoppup" onclick="cancelPreview()">&#10005</h2>
        </div>
    </div> --}}


    <script src="/javaScript/secondpage.js"></script>
</body>

</html>