<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page three</title>
</head>
<body>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/thirdPage.css">
</head>

<body>
    <form action="#">
        <center>
            <u>
                <H1>UNDERTAKING FOR FEES</H1>
                <p>(FOR STUDENT)</p>
            </u>
        </center>
        <div class="content">
            <p>I <input type="text">son/daughter of <input type="text" style="width: 200px;">seeking admission to the
                First/Direct Second Year Engineering
                in Shreeyash College of Engineering & Technology, Chh. Sambhajinagar for the academic
                year 2023-2024 in the branch UG:Civil/ Mech/ETC/CSE/AIML/other, PG: Struct
                Mech/CSE/ETC/other Engineering. I am fully aware of the my admission is purely provisional
                subject to the approval of AICTE, Delhi, DTE Mumbai/ 'PRAVESH NIYANTRAN SMITI', Mumbai.
                I shall be fully responsible for the consequence there to.I am fully aware and agree that
                the presently charged fees are interim fees as approved by the 'SHIKSHAN SHUKA SAMITI'/
                Authority / Honarable Court/ Hon'ble Supreme Court. (interim fees at present Rs <input type="number">
                only) I am aware and agree to pay fees which
                will be finalized by the 'SHIKSHAN SHULKA SAMITI'<Authority> / Hon'ble Court/ Hon'ble Supreme Court.
                    'SHIKSHAN SHULKA SAMITI'/Authority / Honarable Court/ Hon'ble Supreme Court from time to time during
                    my entire period of course and if not paid, I know that my admission will be cancelled for which
                    will
                    be responsible and I will not held College/ any body responsible for cancellation of my admission:
                    The propossed fees will be about <input type="number">
                    (). I will pay all the fees due to on before
                    submission of the semester till the institution receives all claims for Govt.</p>
        </div>

        <div class="sign">
            <p><input type="file" style="border:none;"><br>
                (sign) <br><br>
                <input type="text"> <br>
                (full name of candidate)
            </p>
            <p><input type="file" style="border: none;"><br>
                (sign) <br><br>
                <input type="text"> <br>
                (full name of the Parent/Guardian)
            </p>
        </div>
        <address>
            <textarea name="Address" cols="21" rows="5" placeholder="Enter Your Address"></textarea>
        </address>
        <div class="contact">
            Contact No.
            <ol >
                <li> Personal: <input type="number"></li>

                <li>Fathers: <input type="number"></li>

                <li> Mothers: <input type="number"></li>

                <li>Relative: <input type="number"></li>
            </ol>
        </div>
        <div class="place">
            <p>Place: <input type="text" placeholder="Enter Place"></p>
            <p>Date: <input type="date"></p>
        </div>
        <div class="button">
            <div class="prev">
                <button>
                    <a href="/secondPage">   
                        <p class="prevbutton">Back</p>
                    </a> 
                </button>
               
            </div>
            <div class="next">
                <button>
                    <a href="/lastPage">
                        <p class="nextbutton">Next</p>
                    </a>
                </button>
            </div>
        </div>
    </form>
</body>

</html>
</body>
</html>