body {
    padding: 0px 20px 0px 200px;
     font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    

}
.sidebar {
    position:fixed;
    left: 10px;
    width: 19%;
    /* padding: 4px; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  

}

.sidebar .sidebar-child {
    background: rgb(48, 48, 81);
    cursor: pointer;
    width: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 4px 0px;
    border-radius: 6px;
}

.sidebar .sidebar-child a {
    color: white;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    text-decoration: none;
}

.sidebar .sidebar-child:hover {
    background: rgb(92, 52, 52);
}

form {
    width: 800px;
    height: auto;
    background-color: rgba(211, 211, 211, 0.4);
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
}

form input {
    font-weight: bold;
}

.sign {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    border: 1.5px solid rgb(56, 49, 40);
    width: 780px;
    margin: 8px;
    border-radius: 5px;
}

.content {
    height: auto;
    width: 780px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    word-spacing: 1px;
    line-height: 25px;
    /* border: 2px solid black; */
    margin: 8px;
    border-radius: 5px;
    padding: 5px;
    line-height: 0.7cm;
}

address {
    width: 240px;
    height: 115px;
    border: 1.5px solid rgb(56, 49, 40);
    margin: 8px;
    border-radius: 5px;
}

textarea {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    padding: 4px;
}

ol {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: -20px;
}

.contact {
    overflow: hidden;
    padding: 3px;
    width: 510px;
    border: 1.5px solid rgb(56, 49, 40);
    border-radius: 5px;
    margin-top: -125px;
    margin-left: 275px;
}

.place {
    margin: 30px 10px;
    width: 29%;
    border: 0.3px solid black;
    border-radius: 5PX;
    padding: 5px;

}

body input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 0px 2px;
    font-size: 15px;
}


/* ...................................buttons.................................................... */

.button {
    display: flex;
    justify-content: space-between;
    /* padding: 0px 20px 20px 20px; */
    /* margin: 10px; */
    padding: 20px;
}

/* 
.prev button{
        margin-top: 1%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
       
}

.prevbutton{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: -32px;
    padding-top: 20px;
    margin-top: -7px;
}

.prev button:hover {
    background-image: url(/images/back.png);
    background-size: cover;

}


.prevbutton:hover {
    visibility: hidden;
    opacity: 0;
} */


.prev button {
    margin-top: 1%;
    padding: 3px;
    border: 1px solid violet;
    border-radius: 4px;
}

.prev button a {
    text-decoration: none;
    color: #527fa5;
    font-size: medium;
}


#disp {
    border: 1px solid rgb(23, 19, 23);
    border-radius: 4px;
    color: #388e5f;
}

.next button {
    margin-top: 1%;
    /* margin-left: 500px;  */
    padding: 3px;
    border: 1px solid violet;
    border-radius: 4px;
}

.next button a {
    text-decoration: none;
    color: #527fa5;
    font-size: medium;
}

/* 
.next button {
    margin-top: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #000;
}

.nextbutton{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: -32px;
    padding-top: 20px;
    margin-top: -7px;
}

.next button:hover {
    background-image: url(/images/next2.jpeg);
    background-size: cover;
}


.nextbutton:hover {
    visibility: hidden;
    opacity: 0;
} */



/* ...................... PREVIEW SECTION .................... */



#preview_from {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 63%;
    height: auto;
    top: 7px;
    padding: 20px;
    position: absolute;
    left: 215px;
    display: none;
    overflow: hidden;
    background-color: rgb(254, 249, 249);
    border: 1px dashed black;
    box-shadow: 5px 10px 10px rgba(61, 102, 191, 0.678);
}

/* .content2 input{
  width: auto;
} */


.preview input {
    /* background-color: #527fa5; */
    border: none;
    outline: none;
    font-weight: bold;
    width: auto;
}


#cancelpoppup {
    cursor: pointer;
    color: rgb(223, 18, 18);
    position: absolute;
    bottom: 1px;
    right: 15px;
}


.blur {
    filter: blur(10px);
}


#preview-Btn {
    color: #65b5f6;
    /* width: auto; */
    background-color: transparent;
    border: 1px solid #181e22;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
    /* margin: 10px; */
}













@media only screen and (min-width:200px) and (max-width:481px) {
    body {
        padding: 1px;
        /* color: red; */
        margin: 0px;
    }

    form {
        background: transparent;
        border: none;
        padding: 5px;
        height: 100vh;
    }

    .content {
        line-height: 1.1cm;
    }

    .sign {
        font-size: 20px;
        height: 200px;
    }

    address {
        height: 200px;
        width: 96%;
        margin-top: 10px;
    }

    .contact {
        height: 150px;
        width: 95%;
        margin: 9px;
    }

    .place {
        border: 0px;
        width: 40%;
    }

    #preview_from {
        left: 0px;
        width: 255%;
        height: auto;
    }

    .next button a {
        font-size: 35px;
    }

    .next button {
        padding: 5px;
        border-radius: 20px;
    }

    .prev button a {
        font-size: 35px;
    }

    .prev button {
        border-radius: 20px;
        padding: 5px;

    }

    #preview-Btn {
        font-size: 25px;
        border-radius: 20px;
        padding: 5px;
    }

    #disp {
        padding: 10px;
        font-size: 30px;
        border-radius: 10px;
    }
}