body {
    font-family: Arial, Helvetica, sans-serif;
}

#popup {
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(54, 53, 53, 0.29);
    border-radius: 5px;
    /* margin-top: 90px; */
    margin: auto;
    z-index: 1;
    width: 40%;
    height: 210px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(-50% -50%);
}

#popup img {
    width: 90px;
    height: 90px;
}

#popup b {
    color: white;
    font-size: 20px;
    color: green;
}

#popup p {}