body {
    padding: 0px 0px 0px 300px;
    line-height: 0.7cm;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;

}

#sidebar-nav {
    z-index: 10;
    position: fixed;
    padding: 12px;
    left: 10px;
    width: 19%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #101218ef;
}

#menubar {
    display: none;
}

#close-crossbar {
    display: none;
}


.sidebar {
    position: fixed;
    left: 10px;
    width: 19%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;


}

.sidebar .sidebar-child {
    cursor: pointer;
    width: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 4px 0px;
    border-radius: 6px;
}

.sidebar .sidebar-child a {
    color: white;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    text-decoration: none;
}

.sidebar .sidebar-child .lable {
    margin: 16px 16px 16px 0px;

}


.sidebar .sidebar-child:hover {
    background-color: #3f424a;
}

#sidebar-nav .sidebar-child.active {
    background-color: #3f424a !important;
    /* Test with !important first */
    color: red;
}


form {
    border: 2px solid black;
    width: 800px;
    height: auto;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.headline {
    text-align: center;
    text-decoration: underline;
    font-family: ;
}

.name {
    margin-left: 35px;
}

input {
    border: 0px;
    border-bottom: 0.5px solid black;
    background: transparent;
    width: 350px;
}

.content2 input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 3px;
    font-weight: bold;
}

p {
    margin-left: 30px;
}

p input {
    width: 120px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 3px;
    font-weight: bold;
}


fieldset {
    /* height: 30px;
    width: 20px;
    text-align: center;
    margin-top: -8px;
    margin-left: 670px; */
    width: 13%;
    float: right;
}

fieldset input {
    height: 20px;
    width: 100px;
}

.sign {
    display: flex;
    justify-content: space-between;
}

body input {
    width: auto;
}


/* .....................................buttons..................................................... */

.prev {
    display: flex;
    justify-content: space-between;
    padding: 5px 4px;
}

.prev button {
    border-radius: 5px;
    padding: 5px 4px;
    border: none;
    border: 1px solid rgb(62, 137, 80);
    cursor: pointer;
}

.prev a {
    text-decoration: none;
    padding: 6px;
    font-size: 16px;
    color: black;
}



/* ...................... PREVIEW SECTION .................... */
/* #preview_from {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 63.5%;
    height: auto;
    top: 10px;
    padding: 10px;
    position: absolute;
    display: none;
    overflow: hidden;
    background-color: rgb(254, 249, 249);
    border: 1px dashed black;
    box-shadow: 5px 10px 10px rgba(61, 102, 191, 0.678);
} */

/* .preview input {
    border: none;
    outline: none;
} */

/* #cancelpoppup {
    cursor: pointer;
    color: rgb(223, 18, 18);
    position: absolute;
    bottom: 1px;
    right: 15px;
} */

/* .blur {
    filter: blur(10px);
} */

/* #preview-Btn {
    background-color: transparent;
    border: 1px solid #050607;
    border-radius: 4px;
    pad: 7px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
} */





@media screen and (min-width:200px) and (max-width:480px) {
    body {
        /* height: ; */
        padding: 0px;
    }

    #sidebar-nav {
        z-index: 10;
        position: fixed;
        margin: 10px 0px;
        left: 10px;
        width: 40%;
        height: 100vh;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        display: none;

    }

    .toggle {
        z-index: 1;
        box-sizing: border-box;
        padding: 10px;
        height: auto;
        width: 100%;
        position: fixed;
        right: 0;
        top: 2px;

    }

    #menubar {
        color: rgb(254, 252, 249);
        font-size: 32px;
        padding: 9px 20px;
        cursor: pointer;
        border-radius: 3px;
        background: #32569f;
        position: relative;
        display: block;
        left: 3px;
        top: 0px;
        animation: bounce 2s infinite;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    #close-crossbar {
        color: rgb(254, 252, 249);
        font-size: 32px;
        padding: 8px;
        cursor: pointer;
        border-radius: 12%;
        background: #101218ef;
        position: relative;
        left: 280px;
        top: 10px;
        display: none;
    }

    #popup {
        margin: auto;
        width: 100vw;
        height: 80vh;
    }

    form {
        height: auto;
        border: none;
        font-size: large;
    }

    fieldset {
        margin-right: 40px;
    }

    .headline {
        margin-left: 10px;
    }

    .headline {
        font-size: 22px;
    }

    #preview_from {
        width: 255%;
        height: auto;
    }

    .secondSign {
        margin-left: 10px;
    }

    .next button a {
        font-size: 35px;
    }

    .next button {
        padding: 5px;
        border-radius: 20px;
    }

    .prev button a {
        font-size: 35px;
    }

    .prev button {
        border-radius: 20px;
        padding: 5px;

    }

    #preview-Btn {
        font-size: 25px;
        border-radius: 20px;
        padding: 5px;
    }

    #disp {
        padding: 10px;
        font-size: 30px;
        border-radius: 15px;
    }
}